* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', arial;
  margin: auto;
}

.header-container {
  background-image: linear-gradient(to left, rgb(255,0,0), rgb(0, 26, 255));
  color: white;
  padding: 0 50px;
  text-align: center;
}

.logo {
  width: 200px;
  margin: 40px 0;
}

.header-container h1 {
  font-size: 60px;
  margin-bottom: 30px;
}
.header-container p {
  font-size: 20px;
  padding-bottom: 20px;
}
.header-container button {
  margin-top: 50px;
  padding: 20px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.header-container button:hover {
  transform: translateY(10px);
}

.restaurant-container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}


.btn.active {
  color: white;
}

.restaurant-container {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  background-color: rgb(255, 255, 229);
}

@media (max-width: 1240px) {
  .restaurant-container {
    margin-top: -100px;
  }
}
@media (max-width: 850px) {
  .header-container button {
    padding: 20px;
    margin-top: 24px;
  }
  .restaurant-container {
    margin-top: -50px;
  }
}
@media (max-width: 430px) {
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  .header-container h1 {
    font-size: 40px;
  }
  .header-container p {
    padding-bottom: 10px;
  }
  .header-container button {
    padding: 10px;
    margin-top: 15px;
  }
  .restaurant-container {
    margin-top: 0;
  }
}
.restaurant-grid {
  width: 230px;
  margin: 40px 40px;
  padding-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgb(78, 78, 78);
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  transition: box-shadow 0.15s;
}
.restaurant-grid:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.restaurant-image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px;
}

.restaurant-info {
  margin-left: 20px;
  margin-top: 10px;
}
.restaurant-info p {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.restaurant-type {
  width: 85%;
  display: flex;
  margin: 10px 0;
}
.restaurant-type div {
  padding-right: 10px;
}

@media (max-width: 1169px) {
  .restaurant-grid {
    width: 190px;
    margin: 25px 25px;
    font-size: 14px;
  }

  .restaurant-info p {
    font-size: 18px;
  }

  .restaurant-type {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .restaurant-grid {
    width: 160px;
    margin: 16px 16px;
    font-size: 12px;
  }

  .restaurant-info p {
    font-size: 18px;
  }

  .restaurant-type {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .restaurant-grid {
    width: 150px;
    margin: 10px 10px;
    font-size: 10px;
  }

  .restaurant-info p {
    font-size: 15px;
  }

  .restaurant-type {
    width: 100%;
  }
}

.restaurant-info a {
  color: rgb(203, 63, 63);
  font-weight: bold;
  text-decoration: none;
}

.records {
  width: 100%;
  background-color: rgb(26, 0, 98);
  color: white;
  padding: 40px 30px;
}
.records h1 {
  font-size: 58px;
}
.records button {
  margin-top: 50px;
  padding: 30px 50px;
  font-size: 20px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.records button:hover {
  background-color: white;
  color: rgb(26, 0, 98);
}

.download-app {
  width: 100%;
  background-color: rgb(203, 63, 63);
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 30px 0;
}
.download-app p {
  margin-top: 16px;
}
.download-app a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: font-size 0.15s ease-in;
}
.download-app a:hover {
  font-size: 24px;
}

@media (max-width: 600px) {
  .records button {
    margin-top: 30px;
    padding: 20px 20px;
  }
  .download-app {
    font-size: 20px;
    padding: 16px 10px;
  }
}
@media (max-width: 430px) {
  .records h1 {
    font-size: 50px;
  }
  .records button {
    margin-top: 30px;
    padding: 20px 20px;
  }
  .download-app {
    font-size: 18px;
    padding: 16px 10px;
  }
}

.download-link-container {
  width: 70vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  background-color: rgb(255, 255, 229);
}
.red-logo {
  display: flex;
}
.red-logo img {
  width: 70px;
  margin-right: 10px;
}
.red-logo p {
  color: rgb(203, 63, 63);
  font-weight: bold;
  font-size: 24px;
}

.download-link {
  cursor: pointer;
}

.social-icons {
  width: 70vw;
  background-color: rgb(255, 255, 229);
  color: rgb(203, 63, 63);
  font-size: 50px;
  padding: 20px 50px;
}
.social-icons i {
  margin-right: 10px;
  cursor: pointer;
}

footer {
  width: 70vw;
  background-color: rgb(255, 255, 229);
  color: rgb(78, 78, 78);
  font-size: 14px;
}

footer p, footer div {
  padding: 10px 50px;
}
footer i {
  color: rgb(203, 63, 63)
}

.update-profile {
  font-weight: bold;
}

@media (max-width: 1300px) {
  .restaurant-container,
  .download-link-container,
  .social-icons,
  footer {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .restaurant-container,
  .download-link-container,
  .social-icons,
  footer {
    width: 80vw;
  }

  .red-logo img {
    width: 40px;
  }
  .red-logo p {
    font-size: 18px;
  }
  .download-link {
    width: 20%;
  }
  .social-icons {
    font-size: 40px;
    padding: 10px 12px;
  }

  footer p, footer div {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .restaurant-container,
  .download-link-container,
  .social-icons,
  footer {
    width: 95vw;
  }

  .red-logo img {
    width: 30px;
  }
  .red-logo p {
    font-size: 16px;
  }
  .download-link {
    width: 20%;
  }
  .social-icons {
    font-size: 30px;
    padding: 10px 12px;
  }

  footer p, footer div {
    padding: 6px 12px;
    font-size: 12px;
  }
}